<footer class="mt-5">
    <div class="row">
      <div class="col-lg-12">
        <!-- Copyright -->
      <div class="text-center text-light p-3 bg-dark">
        © 2021 Copyright:
        <a class="text-warning" href="https://github.com/HabibMebdoua">HabibMebdoua</a>
      </div>
      <!-- Copyright -->
      </div>
    </div>
    
    
    <div style="background-color: #e2e2e2;">
      <div class="container">
        <div class="row p-3">
          <div class="col-lg-6">
            <a class=" text-dark h5" target="_blank" href="https://www.facebook.com/habibameur00"><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a class=" text-dark h5" target="_blank" href="https://github.com/HabibMebdoua"><i class="fab fa-github"></i> Github</a><br>
            <a class=" text-dark h5"  target="_blank" href="https://mail.google.com/"><i class="fas fa-envelope"></i> Gmail</a>
          </div>
          <div class="col-lg-6">
            <p>If you want to contact me click any link To go to my account <br>
            the best is comming soon .....</p>
          </div>
        </div>
      </div>
    
    </div>
    </footer>