<body>
  <nav class="navbar navbar-expand-lg bg-dark mb-5">
    <a class="navbar-brand text-light" href="#">Store</a>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'main' %}"> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'products' %}"> <i class="fas fa-store"></i> Our products</a>
        </li>
        <li class="nav-item dropdown">
          {% if user.username %}
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'all' %}">orders</a>
            <a class="dropdown-item" href="">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Log Out</a>
          </div>
        </li>
      </ul>
      {% endif %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'products' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchname">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
</body>
