{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    
    <div class="bg-dark p-5 rounded" style="border: #ffc107 1px solid;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center text-light" style="font-family: sans-serif;"> <i class="fas fa-store"></i> Products</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for product in product %}
                {% if product.is_active %}
                <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
                    <div class="card m-2" style="width: 17rem;">
                        <img class="card-img-top" src="{{product.img.url}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">{{product.description|truncatewords:15}}</p>
                          <h6> {{product.price}} $</h6>
                          <a href="{% url 'product_details' product.pk %}" class="btn btn-lg btn-warning">Go see details</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}